{% extends "base.html" %}

{% block content %}
<main class="container">
    <div class="my-3 p-3 bg-body rounded shadow-sm">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="alert-dismissible alert {{ 'alert-danger' if messages[0][0] == 'error' else 'alert-info' if messages[0][0] == 'info' else 'alert-success' if messages[0][0] == 'success' else '' }}" role="alert">
                    {{ messages[0][1] }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endwith %}
        <h6 class="border-bottom pb-2 mb-4 h3" style="position: relative;">Alle Märkte<span class="badge text-bg-primary rounded-pill custom-badge">{% if load_available_markets|length is none %}0{% else %}{{ load_available_markets|length }}{% endif %}</span></h6>
        <div class="row">
            {% for market in load_available_markets %}
            <a class="remove-decorations" href="{{ url_for('main.market', name=market) }}">
                <ul class="list-group">
                    <li class="list-group-item">
                        {{ market }}
                        {% if market in load_available_markets_counts and load_available_markets_counts[market] > 0 %}
                            <span style="float:right;" class="badge text-bg-primary rounded-pill align-middle">{{ load_available_markets_counts[market] }}</span>
                        {% else %}
                            <span style="float:right;" class="badge text-bg-primary rounded-pill align-middle">0</span>
                        {% endif %}
                    </li>
                </ul>
            </a>
            {% endfor %}
        </div>
    </div>
</main>

{% endblock %}