{% extends "base.html" %}

{% block content %}
<main class="container">
    <div class="my-3 p-3 bg-body rounded shadow-sm">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="alert-dismissible alert {{ 'alert-danger' if messages[0][0] == 'error' else 'alert-info' if messages[0][0] == 'info' else 'alert-success' if messages[0][0] == 'success' else '' }}" role="alert">
                    {{ messages[0][1] }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endwith %}
        <h6 class="border-bottom pb-2 mb-4 h3" style="position: relative;">Deine Benachrichtigungen<span class="badge text-bg-primary rounded-pill custom-badge">{% if total_notifications is none %}0{% else %}{{ total_notifications }}{% endif %}</span></h6>
        <div class="border-bottom mb-4">
            <form action="{{ url_for('methods.notification_keyword_post') }}" method="POST">
                <input type="hidden" name="redirect_url" value="{{ get_current_full_url }}">
                <div style="position: relative;">Stichwort eingeben, um per E-Mail benachrichtigt zu werden <i data-toggle="tooltip" data-placement="right" title="Benachrichtigungen erfolgen nicht nur bei exakten Übereinstimmungen, sondern auch bei Teilübereinstimmungen." class="fa-solid fa-circle-info"></i></div>
                <div class="d-flex mb-3 form-group">
                    <input id="autoCompleteSuggestionKeyword" name="keyword" autocomplete="off" class="form-control me-2" type="keyword" placeholder="gebe ein Stichwort ein.." aria-label="Keyword" required>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" style="margin-left: auto;">Hinzufügen</button>
                </div>
            </form>
        </div>
        <script>
            $(document).ready(function(){
              $('[data-toggle="tooltip"]').tooltip();
            });
            document.addEventListener('DOMContentLoaded', e => {
                $('#autoCompleteSuggestionKeyword').autocomplete({
                    deferRequestBy: 300,
                    serviceUrl: '{{url_for("methods.suggestion_keyword")}}',
                    dataType: 'json'
                });
            }, false);
        </script>
        {% if notifications %}
            <div class="row border-bottom">
                {% for item in notifications %}
                    <div class="item col-lg-3 col-6 mb-4 zoom hover-element">
                        <a class="item-box" style="text-decoration: none; color: black; display: block; height: 100%;" href="{{ url_for('main.get_item_content', item_id=item.id) }}">
                            <div class="container">
                                <img class="icon-symbol" width="50" height="50" src="{{ url_for('static', filename='image/logo/' + item.market + '.webp') }}" alt="{{ item.market }}" loading="lazy">
                                <div class="row custom-row">
                                    <div class="col-12">
                                    <fieldset class="d-flex align-items-center">
                                        <span>{{ item.amount_ratings }}</span>
                                        <span class="star-cb-group readonly small-item-stars">
                                        <input type="radio" id="readonly-rating-5-{{item.id}}" {% if item.rating == 5 %}checked="checked"{% endif %} name="readonly_rating-{{item.id}}" value="5">
                                        <label for="readonly-rating-5-{{item.id}}"><i class="fas fa-star"></i></label>
                                        <input type="radio" id="readonly-rating-4-{{item.id}}" {% if item.rating < 5 and item.rating >= 4 %}checked="checked"{% endif %} name="readonly_rating-{{item.id}}" value="4" disabled>
                                        <label for="readonly-rating-4-{{item.id}}" checked><i class="fas fa-star"></i></label>
                                        <input type="radio" id="readonly-rating-3-{{item.id}}" {% if item.rating < 4 and item.rating >= 3 %}checked="checked"{% endif %} name="readonly_rating-{{item.id}}" value="3" disabled>
                                        <label for="readonly-rating-3-{{item.id}}"><i class="fas fa-star"></i></label>
                                        <input type="radio" id="readonly-rating-2-{{item.id}}" {% if item.rating < 3 and item.rating >= 2 %}checked="checked"{% endif %} name="readonly_rating-{{item.id}}" value="2" disabled>
                                        <label for="readonly-rating-2-{{item.id}}"><i class="fas fa-star"></i></label>
                                        <input type="radio" id="readonly-rating-1-{{item.id}}" {% if item.rating < 2 and item.rating >= 1 %}checked="checked"{% endif %} name="readonly_rating-{{item.id}}" value="1" disabled>
                                        <label for="readonly-rating-1-{{item.id}}"><i class="fas fa-star"></i></label>
                                        </span>
                                    </fieldset>
                                    </div>
                                </div>
                                <div class="row custom-row-2">
                                <div class="col-12">
                                    <span class="item-name text-center">
                                    {{ item.name }}
                                    </span>
                                </div>
                                </div>
                                <div class="row custom-row-3">
                                    <div class="col-12">
                                    <div class="d-flex justify-content-center align-items-center">
                                        {% if item.original_image_rel_resized %}
                                            <img src="{{ item.original_image_rel_resized }}" width="400" height="400" class="d-block w-100" alt="{{ item.name }}" draggable="false" loading="lazy">
                                        {% else %}
                                            <img src="{{ item.original_image_rel }}" width="400" height="400" class="d-block w-100" alt="{{ item.name }}" draggable="false" loading="lazy">
                                        {% endif %}
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            {% if page and total_notifications > 0 and notifications|length > 0 and total_notifications > per_page %}
                <p>Angebote <b>{{ start_index + 1 }}</b> bis <b>{{ start_index + notifications|length }}</b> von insgesamt <b>{{ total_notifications }}</b></p>
                <div class="container mt-5">
                    <div class="row">
                        <div class="col">
                            <ul class="pagination justify-content-center">
                                {% if page > 1 %}
                                    <li class="page-item"><a class="page-link" href="{{ url_for('main.notification', page=page-1) }}">Zurück</a></li>
                                {% else %}
                                    <li class="page-item disabled"><a class="page-link">Zurück</a></li>
                                {% endif %}
                                
                                {% if page - 3 > 1 %}
                                        <li class="page-item"><a class="page-link" href="{{ url_for('main.notification', page=1) }}">1</a></li>
                                    {% if page - 3 > 2 %}
                                        <li><span class="pagination-ellipsis page-item">&hellip;</span></li>
                                    {% endif %}
                                {% endif %}

                                {% for num in range(page - 3, page + 4) %}
                                    {% set num_pages = (total_notifications + per_page - 1) // per_page %}
                                    {% if num > 0 and num <= num_pages %}
                                        {% if num == page %}
                                            <li class="page-item active"><a class="page-link">{{ num }}</a></li>
                                        {% elif total_notifications != per_page %}
                                            <li class="page-item"><a class="page-link" href="{{ url_for('main.notification', page=num) }}">{{ num }}</a></li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}

                                {% if page + 3 < total_notifications // per_page %}
                                    {% if page + 3 < total_notifications // per_page - 1 %}
                                        <li><span class="pagination-ellipsis page-item">&hellip;</span></li>
                                    {% endif %}
                                    <li class="page-item"><a class="page-link" href="{{ url_for('main.notification', page=total_notifications // per_page + 1) }}">{{ total_notifications // per_page + 1 }}</a></li>
                                {% endif %}

                                {% if page < total_notifications / per_page %}
                                    <li class="page-item"><a class="page-link" href="{{ url_for('main.notification', page=page+1) }}">Nächste</a></li>
                                {% else %}
                                    <li class="page-item disabled"><a class="page-link">Nächste</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div class="col-12 text-center border-bottom">
                <p>Du hast zur Zeit keine Angebote in Deiner Benachrichtigungsliste.</p>
            </div>
        {% endif %}
        {% if notification_items_small %}
            <style>
                .disabled {
                    opacity: 0.5; /* Adjust the opacity to make it look grayed out */
                }
            </style>
            <div class="row mt-2">
                {% for notification in notification_items_small %}
                <div class="col-lg-6 col-md-6 col-sm-12" >
                    <div class="list-group position-relative {% if not notification.enabled %} disabled {% endif %}" id="open-modal" notification="{{ notification.enabled }}" recognition_id="{{ notification.recognition_id }}" name="{{ notification.name }}" style="cursor: pointer;">
                      <a class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true" style="width: calc(100% - 30px)">  <div class="d-flex gap-2 w-100 justify-content-between">
                          <h6 class="mb-0 overflow-trim">{{ notification.name }}</h6>
                        </div>
                      </a>
                      <a href="">
                        <span class="ml-3 position-absolute top-0 end-0 z-1" style="cursor: pointer; z-index: 2; right: 0; top: 3px;">  <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </span>
                      </a>
                    </div>
                  </div>
                {% endfor %}
            </div>
        <!-- modal -->
        <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <form id="myForm" method="POST">
                    <input type="hidden" name="recognition_id" id="recognition_id" value="">
                    <input type="hidden" name="name" id="name" value="">
                    <input type="hidden" name="redirect_url" value="{{ get_current_full_url }}">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel">Bearbeiten</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center">
                            <div class="form-check form-switch border-bottom pb-2">
                                <input class="form-check-input" type="checkbox" id="NotificationflexSwitch" name="state" checked>
                                <label class="form-check-label" for="NotificationflexSwitch">Benachrichtigung über Email aktivieren/deaktivieren</label>
                            </div>
                            <button type="submit" id="deleteButton" class="btn btn-danger mt-3">Angebot aus Einkaufliste entfernen</button>
                        </div>
                        <div class="modal-footer d-flex justify-content-between">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                            <button type="submit" id="saveButton" class="btn btn-primary" data-bs-dismiss="modal" style="margin-left: auto;">Speichern</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script>
            const Modals = document.querySelectorAll("#open-modal");
            // Attach click event listener to each modal
            Modals.forEach(modal => {
                modal.addEventListener("click", function () {
                var name = modal.getAttribute("name");
                var recognition_id = modal.getAttribute("recognition_id");
                var notification = modal.getAttribute("notification");
                var switchElement = document.getElementById('NotificationflexSwitch');
                if (notification === '1') {
                    switchElement.checked = true;
                } else {
                    switchElement.checked = false;
                }
                $("#recognition_id").attr("value", recognition_id);
                $("#name").attr("value", name);
                $("#modalLabel").html(name);
                $("#modal").modal("show");
                });
            });
            const saveButton = document.getElementById('saveButton')
            const deleteButton = document.getElementById('deleteButton')
            saveButton.addEventListener('click', function() {
                document.getElementById('myForm').action = "{{ url_for('methods.handle_overwrite_notification_state') }}";
                document.getElementById('myForm').submit();
            });
            deleteButton.addEventListener('click', function() {
                document.getElementById('myForm').action = "{{ url_for('methods.handle_remove_notification') }}";
                document.getElementById('myForm').submit();
            });
        </script>
        {% endif %}
    </div>
</main>

{% endblock %}
